<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeshen.admin.mapper.MoveHotMapper">
  <resultMap id="BaseResultMap" type="com.yeshen.admin.entity.MoveHot">
    <!--@mbg.generated-->
    <!--@Table move_hot-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="poster" jdbcType="VARCHAR" property="poster" />
    <result column="cover" jdbcType="VARCHAR" property="cover" />
    <result column="trailer" jdbcType="VARCHAR" property="trailer" />
    <result column="score" jdbcType="VARCHAR" property="score" />
    <result column="prised_counts" jdbcType="VARCHAR" property="prisedCounts" />
    <result column="basic_info" jdbcType="VARCHAR" property="basicInfo" />
    <result column="release_date" jdbcType="TIMESTAMP" property="releaseDate" />
    <result column="totol_time" jdbcType="TIMESTAMP" property="totolTime" />
    <result column="plot_desc" jdbcType="VARCHAR" property="plotDesc" />
    <result column="directors" jdbcType="VARCHAR" property="directors" />
    <result column="actors" jdbcType="VARCHAR" property="actors" />
    <result column="plot_pics" jdbcType="VARCHAR" property="plotPics" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, poster, cover, trailer, score, prised_counts, basic_info, release_date, 
    totol_time, plot_desc, directors, actors, plot_pics, create_time
  </sql>

<!--auto generated by MybatisCodeHelper on 2020-10-10-->
  <select id="selectRand" resultType="com.yeshen.admin.entity.MoveHot">
    select
    * from move_hot
    order by rand() limit 4
  </select>

<!--auto generated by MybatisCodeHelper on 2020-10-10-->
  <select id="selectByNameLike" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from move_hot
    where `name` like concat('%',#{likeName,jdbcType=VARCHAR},'%')
    limit 9
  </select>

<!--auto generated by MybatisCodeHelper on 2020-10-10-->
  <select id="selectById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from move_hot
    where id=#{id,jdbcType=INTEGER}
  </select>
</mapper>